@charset 'utf-8';
@import url('./mobile.css');
@import url('./desktop.css');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #AF3A42;
    width: 100%;
    height: 100vh;
}


